# EDA on  Olympic

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
bios= pd.read_csv('bios.csv')

In [3]:
bios.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
result= pd.read_csv('results.csv')

In [5]:
result.head()

,Games,Event,Team,Pos,Medal,As,athlete_id,NOC,Discipline,Nationality,Unnamed: 7
0,1912 Summer Olympics,"Singles, Men (Olympic)",NaN,=17,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
1,1912 Summer Olympics,"Doubles, Men (Olympic)",Jean Montariol,DNS,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
2,1920 Summer Olympics,"Singles, Men (Olympic)",NaN,=32,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
3,1920 Summer Olympics,"Doubles, Mixed (Olympic)",Jeanne Vaussard,=8,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN
4,1920 Summer Olympics,"Doubles, Men (Olympic)",Jacques Brugnon,4,NaN,Jean-François Blanchy,1,FRA,Tennis,NaN,NaN

In [6]:
bios

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",Le Basque Bondissant (The Bounding Basque),NaN,NaN,NaN,NaN,NaN
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",Toto,NaN,NaN,NaN,NaN,NaN
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145495,Competed in Olympic Games,Female,Polina•Luchnikova,Polina•Luchnikova,"30 January 2002 in Serov, Sverdlovsk (RUS)",NaN,ROC,149222,167 cm / 61 kg,"Agidel, Ufa (RUS)",NaN,NaN,NaN,NaN,NaN,NaN
145496,Competed in Olympic Games,Female,Valeriya Sergeyevna•Merkusheva,Valeriya•Merkusheva,"20 September 1999 in Moskva (Moscow), Moskva (...",NaN,ROC,149223,168 cm / 65 kg,"SKIF Nizhny Novgorod, Nizhny Novgorod (RUS)",NaN,NaN,NaN,NaN,Валерия Сергеевна•Меркушева,NaN
145497,Competed in Olympic Games,Female,Yuliya•Smirnova,Yuliya•Smirnova,"8 May 1998 in Kotlas, Arkhangelsk (RUS)",NaN,ROC,149224,163 cm / 55 kg,"Agidel, Ufa (RUS)",NaN,NaN,NaN,NaN,Юлия•Смирнова,NaN
145498,Competed in Olympic Games,Male,André•Foussard,André•Foussard,"19 May 1899 in Niort, Deux-Sèvres (FRA)","18 March 1986 in Niort, Deux-Sèvres (FRA)",France,149225,166 cm,"Beauvoisine FC, Rouen (FRA)",NaN,NaN,NaN,NaN,NaN,NaN
145499,Non-starter • Administrator,Male,"William Berge ""Bill""•Phillips",Bill•Phillips,"15 July 1913 in Dulwich Hill, New South Wales ...","20 October 2003 in Sydney, New South Wales (AUS)",Australia,149814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
bios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Roles          145500 non-null  object
 1   Sex            145500 non-null  object
 2   Full name      145500 non-null  object
 3   Used name      145500 non-null  object
 4   Born           143772 non-null  object
 5   Died           34042 non-null   object
 6   NOC            145499 non-null  object
 7   athlete_id     145500 non-null  int64
 8   Measurements   107833 non-null  object
 9   Affiliations   95832 non-null   object
 10  Nick/petnames  9145 non-null    object
 11  Title(s)       399 non-null     object
 12  Other names    7167 non-null    object
 13  Nationality    8259 non-null    object
 14  Original name  30739 non-null   object
 15  Name order     7844 non-null    object
dtypes: int64(1), object(15)
memory usage: 17.8+ MB

In [8]:
bios.describe()

          athlete_id
count  145500.000000
mean    73686.188955
std     42868.960158
min         1.000000
25%     36663.750000
50%     73302.500000
75%    110306.250000
max    149814.000000

In [9]:
bios.shape

(145500, 16)

In [10]:
bios.columns

Index(['Roles', 'Sex', 'Full name', 'Used name', 'Born', 'Died', 'NOC',
       'athlete_id', 'Measurements', 'Affiliations', 'Nick/petnames',
       'Title(s)', 'Other names', 'Nationality', 'Original name',
       'Name order'],
      dtype='object')

In [11]:
bios.isnull().sum()

Roles                 0
Sex                   0
Full name             0
Used name             0
Born               1728
Died             111458
NOC                   1
athlete_id            0
Measurements      37667
Affiliations      49668
Nick/petnames    136355
Title(s)         145101
Other names      138333
Nationality      137241
Original name    114761
Name order       137656
dtype: int64

### What should we clean up?

- [x] Get rid of `.` in "Used name"
- [ ] Split "height and weight" into two new columns
- [ ] Remove unnecessary columns
- [ ] Parse out dates from "born" and "dead"
- [ ] Parse out city and country/region from "born"
- [ ] Standardize name capitalization
- [ ] Normalize country names (e.g., USA → United States)
- [ ] Handle missing birth or death data
- [ ] Add derived fields like current age or age at death
- [ ] Remove duplicates
- [ ] Clean special characters or HTML tags

In [12]:
df= bios.copy()

In [13]:

#^ getting rid of .
df['Name']=df['Used name'].str.replace('•',' ')

In [14]:
df.tail()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,Name
145495,Competed in Olympic Games,Female,Polina•Luchnikova,Polina•Luchnikova,"30 January 2002 in Serov, Sverdlovsk (RUS)",NaN,ROC,149222,167 cm / 61 kg,"Agidel, Ufa (RUS)",NaN,NaN,NaN,NaN,NaN,NaN,Polina Luchnikova
145496,Competed in Olympic Games,Female,Valeriya Sergeyevna•Merkusheva,Valeriya•Merkusheva,"20 September 1999 in Moskva (Moscow), Moskva (...",NaN,ROC,149223,168 cm / 65 kg,"SKIF Nizhny Novgorod, Nizhny Novgorod (RUS)",NaN,NaN,NaN,NaN,Валерия Сергеевна•Меркушева,NaN,Valeriya Merkusheva
145497,Competed in Olympic Games,Female,Yuliya•Smirnova,Yuliya•Smirnova,"8 May 1998 in Kotlas, Arkhangelsk (RUS)",NaN,ROC,149224,163 cm / 55 kg,"Agidel, Ufa (RUS)",NaN,NaN,NaN,NaN,Юлия•Смирнова,NaN,Yuliya Smirnova
145498,Competed in Olympic Games,Male,André•Foussard,André•Foussard,"19 May 1899 in Niort, Deux-Sèvres (FRA)","18 March 1986 in Niort, Deux-Sèvres (FRA)",France,149225,166 cm,"Beauvoisine FC, Rouen (FRA)",NaN,NaN,NaN,NaN,NaN,NaN,André Foussard
145499,Non-starter • Administrator,Male,"William Berge ""Bill""•Phillips",Bill•Phillips,"15 July 1913 in Dulwich Hill, New South Wales ...","20 October 2003 in Sydney, New South Wales (AUS)",Australia,149814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bill Phillips

In [15]:

#! split height and weight on /
measure = df['Measurements'].str.split('/',)

df['height']= measure.str.get(0).str.replace(r'\D',' ',regex=True)

df['weight']=measure.str.get(1).str.replace(r'\D', ' ',regex=True)

In [16]:
df[['weight','height']].sample(54)

         weight   height
138404      NaN      NaN
73966     61     172
50875     57     168
127607    48     168
41126     77     180
456         NaN      NaN
20756       NaN      NaN
87702     84     178
63192     74     173
39842     86     184
23301     82     191
56520       NaN    67
71790     71     177
30821     61     174
30784       NaN      NaN
44499     64     176
145457      NaN      NaN
141230      NaN      NaN
98126       NaN      NaN
44032       NaN      NaN
62106     78     182
14428     67     179
121556    68     177
13972       NaN      NaN
77835    101     187
124186    66     174
80495     48     159
12979     75     178
11233     54     163
35702     90     190
5073        NaN   194
113777    75     183
123719    60     175
127145    60     167
119340   108     202
20544     60     172
139269      NaN      NaN
8202        NaN      NaN
78354     84     188
53263     70     177
44029     89     185
136788      NaN      NaN
16651     80     191
11906     67     173
46883       NaN      NaN
25920     75     178
20697     60     159
46855       NaN      NaN
5421      78     190
47204     65     175
114039    59     168
130246    90     189
123526    74     176
11300       NaN      NaN

In [17]:

#* dropping the measurement column
df.drop(columns={'Measurements'},inplace=True)

In [18]:
df.columns

Index(['Roles', 'Sex', 'Full name', 'Used name', 'Born', 'Died', 'NOC',
       'athlete_id', 'Affiliations', 'Nick/petnames', 'Title(s)',
       'Other names', 'Nationality', 'Original name', 'Name order', 'Name',
       'height', 'weight'],
      dtype='object')

In [19]:

#! parse out date form born and dead column
date_pattern = r'(\d+ \w+ \d{4})'
df['Born_date'] =df['Born'].str.extract(r'(\d+ \w+ \d{4})')

In [20]:
df['Died_date']=df['Died'].str.extract(date_pattern)

In [21]:
df[['Born_date','Died_date']].sample(6)

               Born_date Died_date
110510  19 November 1990       NaN
10180    19 October 1942       NaN
141893   12 January 1986       NaN
129982  1 September 1988       NaN
28597        9 July 1969       NaN
105585     24 April 1979       NaN

In [22]:


#! now finding the reverse thing means checking if date_format 
#^ is not follwoing or notna value

df[~df['Born'].str.match(date_pattern,na=False) & df['Born'].notna()]

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Affiliations,Nick/petnames,Title(s),Other names,Nationality,Original name,Name order,Name,height,weight,Born_date,Died_date
91,Competed in Olympic Games,Male,Lionel Hunter•Escombe,Lionel•Escombe,"1876 in Natal, KwaZulu-Natal (RSA)","15 October 1914 in Brentford, England (GBR)",Great Britain,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lionel Escombe,NaN,NaN,NaN,15 October 1914
179,Competed in Olympic Games,Male,Pantelis•Papadopoulos,Pantelis•Papadopoulos,1902,1987,Greece,180,Lawn Tennis Athens,NaN,NaN,NaN,NaN,Παντελής•Παπαδόπουλος,NaN,Pantelis Papadopoulos,NaN,NaN,NaN,NaN
552,Competed in Olympic Games,Female,Emily Jane•Rushton (Ormrod-),Emily•Rushton,"1850 in Halliwell, England (GBR)","30 June 1939 in Barnacre-with-Bonds, Garstang,...",Great Britain,554,"Barnacre Archers, Barnacre-with-Bonds, Garstan...",NaN,NaN,NaN,NaN,NaN,NaN,Emily Rushton,NaN,NaN,NaN,30 June 1939
561,Competed in Olympic Games,Female,Hilda•Williams,Hilda•Williams,"1876 in Marton, England (GBR)","10 July 1922 in Surbiton, England (GBR)",Great Britain,563,"Mid Surrey Archery Club, Surbiton (GBR)",NaN,NaN,NaN,NaN,NaN,NaN,Hilda Williams,NaN,NaN,NaN,10 July 1922
667,Competed in Olympic Games,Female,Marie•Jones,Marie•Jones,1896,NaN,Belgium,670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marie Jones,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118318,Competed in Olympic Games,Male,"J. Edward ""Eddie""•Heron",Eddie•Heron,"1910 in Dublin, Dublin (IRL)","23 April 1985 in Dublin, Dublin (IRL)",Ireland,120008,"Sandycove Swimming Club, Sandycove (IRL)",NaN,NaN,NaN,NaN,NaN,NaN,Eddie Heron,NaN,NaN,NaN,23 April 1985
118344,Competed in Olympic Games,Female,Lilo•Mund Borgs,Lilo•Mund,"1939 in Santiago, Santiago Metropolitan (CHI)",NaN,Chile,120048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lilo Mund,NaN,NaN,NaN,NaN
124915,Competed in Olympic Games,Male,"William•Taylor, Jr.",William•Taylor,"1870 in Hoxton, England (GBR)",NaN,Great Britain,127258,"Essex Beagles, Barking (GBR)",NaN,NaN,NaN,NaN,NaN,NaN,William Taylor,NaN,NaN,NaN,NaN
126482,Competed in Olympic Games,Male,Cornelius•von Lubowiecki,Cornelius•von Lubowiecki,1876,NaN,Austria,128837,"Wiener AC, Wien (AUT)",NaN,NaN,NaN,NaN,NaN,NaN,Cornelius von Lubowiecki,NaN,NaN,NaN,NaN
135276,Competed in Olympic Games,Male,"Louis•Dufour, Sr.","Louis•Dufour, Sr.","1873 in Les Avants, Vaud (SUI)",12 April 1944,Switzerland,138439,"Les Avants HC, Les Avants (SUI)",NaN,NaN,NaN,NaN,NaN,NaN,"Louis Dufour, Sr.",NaN,NaN,NaN,12 April 1944

In [23]:
df['Born_date'].info(
    
)

<class 'pandas.core.series.Series'>
RangeIndex: 145500 entries, 0 to 145499
Series name: Born_date
Non-Null Count   Dtype
--------------   -----
141690 non-null  object
dtypes: object(1)
memory usage: 1.1+ MB

In [24]:
df['Born_date']=pd.to_datetime(df['Born_date'],format='mixed',errors='coerce')

In [25]:
# df[~df['Died'].str.match('date_pattern',na='False') & df['Died'].notna()]

In [26]:
df['Died_date']= pd.to_datetime(df['Died_date'],format='mixed',errors='coerce')

In [27]:
df[['Died_date','Born_date']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Died_date  31928 non-null   datetime64[ns]
 1   Born_date  141685 non-null  datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 2.2 MB

In [28]:

#! now extract year one
df['born_year']= df['Born'].str.extract(r'(\d{4})')
df['died_year']= df['Died'].str.extract(r'(\d{4})')

In [29]:

#! now convert into datetime conversion
df['born_year']= pd.to_numeric(df['born_year'],errors='coerce')
df['died_year']=pd.to_numeric(df['died_year'],errors='coerce')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Roles          145500 non-null  object
 1   Sex            145500 non-null  object
 2   Full name      145500 non-null  object
 3   Used name      145500 non-null  object
 4   Born           143772 non-null  object
 5   Died           34042 non-null   object
 6   NOC            145499 non-null  object
 7   athlete_id     145500 non-null  int64
 8   Affiliations   95832 non-null   object
 9   Nick/petnames  9145 non-null    object
 10  Title(s)       399 non-null     object
 11  Other names    7167 non-null    object
 12  Nationality    8259 non-null    object
 13  Original name  30739 non-null   object
 14  Name order     7844 non-null    object
 15  Name           145500 non-null  object
 16  height         107833 non-null  object
 17  weight         103028 non-null  object
 18  Born_date      141685 non-null  datetime64[ns]
 19  Died_date      31928 non-null   datetime64[ns]
 20  born_year      143698 non-null  float64
 21  died_year      33963 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(17)
memory usage: 24.4+ MB

In [34]:

#! now parse the city and born columnn
df[df['Died']==2011]

Empty DataFrame
Columns: [Roles, Sex, Full name, Used name, Born, Died, NOC, athlete_id, Affiliations, Nick/petnames, Title(s), Other names, Nationality, Original name, Name order, Name, height, weight, Born_date, Died_date, born_year, died_year]
Index: []

[0 rows x 22 columns]